@model EmailFullInfoModel
@{
    ViewData["Title"] = "GetEmailInfo";
}

<h1>GetEmailInfo</h1>

<p>@Model.EmailId</p>
<p>@Model.Emailreceived</p>
<p>@Model.EmailSender</p>
<p>@Model.EmailStatus</p>
<p>@Model.Body</p>
<p>@Model.OperatorId</p>
